extends layout

block content
  h1= "JavaScript Portfolio"
  p Welcome To My Testing Site
    br
    img(src="http://microsoftaccesspros.com/images/javascript.jpg")

    ul#links
      li
          a(href="/about") about
      li
          a(href="/blog") blog
      li
          a(href="/users") users
      li
          a(href="/userlist") userlist
      li
          a(href="/newuser") newuser
      li
          a(href="/adduser") adduser
